<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Email Verification</title>



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap" rel="stylesheet">


</head>

<body style=" margin: 0;padding: 0;font-family: 'Barlow', sans-serif;">
    <div class="template_holder" style="width: 50%;height: 100vh;position: relative;display: flex;justify-content: center;align-items: center;margin: 0 auto;">
        <div class="template_content" style="text-align: center;">
            <div class="temp_header" style="background: #002f3f;text-align: center;padding: 12px 10px 8px;">
                <img class="temp_logo" style="width: 200px;"
                src="http://cdn.mcauto-images-production.sendgrid.net/e0007213b286d33d/c5266ca0-6e9e-4dc3-a535-4ea9b3a2d7c3/1836x451.png"
                alt="logo">
                
            </div>
            

            <div class="make_center" style="padding: 0 5%;">
            <h2 class="temp_title" style="font-size: 26px;font-weight: bold;color: #002f3f;margin: 30px 0 20px;">Email Verification</h2>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;"> Dear User,</p>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;"> Thank you for signing up on Bitstorm Exchange. </p>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;">In order to verify your Bitstorm account, you are required to confirm your email address.</p>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;">Please enter the six-digit code shown below on the Email Authentication Page or simply click the Email Address Authentication button. </p>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;"> For security purposes, this request will expire in
                {expired_time} minutes. </p>

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;">
                <a  href="{url_link}"><button style="width: 190px;padding: 5px 0;border-radius: 5px;font-weight: bold;line-height: 30px;text-decoration: none;text-align: center;font-size: 15px;display: inline-block;background: #ffc107;color: #3c3c3c;border: 0;margin: 10px 0;" type="button">Email Verification</button>
                </a>
            </p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;">

            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;font-weight: bold;"> Code : <span style="color: #f5212f;">{code}</span>
            </p>
            <hr />
            <p style="font-size: 16px;color: #3c3c3c;width: 100%;margin-bottom: 12px;font-weight: 400;line-height: 24px;"> Thank you.<br> {site_name}</p>
            </div>

            <div class="temp_footer" style="background: #002f3f;text-align: center;padding: 16px 10px;margin-top: 30px;">
                <h2 style="font-size: 14px;font-weight: 400;color: #fff;">Copyright © 2020 Bitstorm. All Rights Reserved</h2>
            </div>


        </div>
    </div>





</body>

</html>