<hr/>
<h2>[Notice] QNA Answer</h2>
<br>
<p>Dear sir,</p>
<table>
    <tr><th>category</th><td>{category}</td></tr>
    <tr><th>question</th><td>{question}</td></tr>
    <tr><th>answer</th><td>{answer}</td></tr>
    <tr><th>userid</th><td>{userid}</td></tr>
    <tr><th>reg_date</th><td>{reg_date}</td></tr>
    <tr><th>done_date</th><td>{done_date}</td></tr>
    <tr><th>reg_ip</th><td>{reg_ip}</td></tr>
    <tr><th>reg_device</th><td>{reg_device}</td></tr>
    <tr><th>member_id</th><td>{member_id}</td></tr>
    <tr><th>attachments</th><td>{attachments}</td></tr>
</table>
<hr/>
<p>Thank you.</p>
<p><a target="_blank" href="{site_url}">{site_name}</a></p>