<hr/>
<h2>[Notice] {currency_code} withdrawal request is rejected.</h2>
<br>
<p>Dear sir,</p>
<p>The withdrawal request from your {site_name} account has been rejected.</p>
<p>Request Time : {req_time}</p>
<p>Size : {amount} {currency_code}</p>
<p>Commission : {fee_amount} {currency_code}</p>
<p>Withdrawal address nickname : {addr_nickname}</p>
<p>Withdrawal address : {address}</p>
<br>
<p>Ask the service center for the detailed information on why the request is rejected.</p>
<hr/>
<p><a target="_blank" href="{site_url}">{site_name}</a></p>
