[Unit]
Description=Wallet Withdraw Complete Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python2 /data/xbit/daemon/Operation/WalletWithdrawCompleteDaemon.py

User=root
Group=root

[Install]
WantedBy=multi-user.target
