[Unit]
Description=PreProcessDaemon
After=network.target

[Service]
ExecStart=/usr/bin/python2 /data/bitstorm/daemon/PreProcess/PreProcessDaemon.py

User=centos
Group=centos

[Install]
WantedBy=multi-user.target
