[Unit]
Description=TradeFeeRate.py
After=network.target

[Service]
ExecStart=/usr/bin/python2 /data/bitstorm/daemon/Operation/TradeFeeRate.py

User=centos
Group=centos

[Install]
WantedBy=multi-user.target
