[Unit]
Description=xbitOrdersend BTCUSDT
After=network.target

[Service]
ExecStart=/usr/bin/python2 /data/bitstorm/daemon/Operation/xbitOrdersend.py --product=BTCUSDT

User=centos
Group=centos

[Install]
WantedBy=multi-user.target
